*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

ul{
    list-style: none;
}

.outline{
    max-width: 1920px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar sub-menu"
        "sidebar load"
        "sidebar top-designers"
        "sidebar footer";
}

header{
    grid-area: header; 
    max-width: 1600px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 40px;
}

#search-text-input{
    border: none;
    border-radius: 12px;
    height: 56px;
    width: 446px;
    background-color: #F8F8F8;
    background-image: url(images/svg/Component\ 9\ –\ 2.svg);
    background-position-x: 400px;
    background-position-y: 15px;
    background-repeat: no-repeat;
    padding: 15px;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.profile img{
    margin-right: 35px;
}

.profile p{
    color: #FF2288;
    margin-right: 35px;
    font-family: avenir_book;
    font-size: 14px;
}

.button{
    border: none;
    border-radius: 12px;
    background-color: #FF2288;
    width: 129px;
    height: 56px;
    color: #FFFFFF;
    font-family: avenir_book;
    font-size: 14px;
}

.sidebar{
    grid-area: sidebar;
    padding: 30px 30px 0px 30px;
    background-color: #222222;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 30px;
    z-index: 100;
}

.navigation{
    position: sticky;
    top: 62px;
    z-index: 100;
}

.navigation ul{
    padding-top: 50px;
}

.navigation li{
    display: flex;
    align-items: center;
    padding-bottom: 19px;
}

.navigation img{
    width: 24px;
}

.navigation a{
    padding-left: 15px;
    font-family: avenir_roman;
}

.navigation li:hover{
    width: auto;
    height: auto;
    background-color: #FF2288;
    border-radius: 12px;
}

.following{
    position: sticky;
    top: 382px;
    z-index: 100;
}

.following h3{
    margin-top: 50px;
    padding-bottom: 20px;
    color: #FFFFFF;
    font-family: avenir_roman;
}

.following p{
    padding-top: 19px;
    font-family: avenir_roman;
}

.following p>a{
    padding-left: 0px;
}

.following li{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.following img{
    width: 44px;
}

.following a{
    padding-left: 20px;
    font-family: avenir_roman;
}

.sub-menu{
    grid-area: sub-menu;
    max-width: 1231px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.sub{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.sub ul{
    display: flex;
}

.sub li{
    padding: 15px;
}

.sub a{
    color: #222222;
    font-family: avenir_book;
}

.sub li:hover{
    width: auto;
    height: 40px;
    background-color: #F2F2F2;
    border-radius: 12px;
}

.filter-button{
    width: 132px;
    height: 56px;
    background-color: #FFFFFF;
    border: 1px solid #D8D8D8;
    border-radius: 12px;
}

.filter-img{
    width: 24px;
    height: 24px;
}

.filter-button > img,
.filter-button > span{
    vertical-align: middle;
}

.filter-button span{
    padding-left: 15px;
    font-family: avenir_book;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.images img{
    width: 289px;
    height: 210px;
    border-radius: 12px;
}

.project{
    position: relative;
}

.icon{
    position: absolute;
    top: 30px;
    left: 30px;
    display: none;
}

.icon-2{
    position: absolute;
    top: 60px;
    left: 30px;
    display: none;
}

.icon img{
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
}

.icon-2 img{
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
}

.project:hover .icon{
    display: block;
}

.project:hover .icon-2{
    display: block;
}

.load{
    display: flex;
    justify-content: center;
}

.more-button{
    width: 289px;
    height: 56px;
    border: 1px solid #F2F2F2;
    border-radius: 12px;
    margin-top: 70px;
    font-family: avenir_book;
}

.top-designers{
    grid-area: top-designers;
    max-width: 1231px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 137px;
    margin-bottom: 129px;
}

.designer-title{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
} 

.designer-title h2{
    margin-bottom: 54px;
    font-family: avenir_book;
}

.designer-title a{
    color: #222222;
    font-family: avenir_book;
    font-size: 14px;
}

.designer-title a:hover{
    text-decoration: underline;
}

.designers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.designers h5, h6{
    padding-top: 10px;
    font-family: avenir_book;
}

.designers h6{
    padding-bottom: 17px;
    opacity: 0.6;
}

.designers button{
    width: 132px;
    height: 44px;
    border: 1px solid #D8D8D8;
    border-radius: 12px;
}

footer{
    grid-area: footer;
    max-width: 1231px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.top{
    display: flex;
    justify-content: space-between;
}

.top h4{
    margin-bottom: 36px;
    font-family: avenir_book;
}

.top li{
    
    padding-bottom: 20px;
}

.top a{
    color: #222222;
    font-family: avenir_book;
}

.social img{
    padding-right: 20px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 153px;
    margin-bottom: 40px;
}

.additional{
    display: none;
}

@media (max-width: 860px)  {
    .outline{
        max-width: 1920px;
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-areas: 
            "sidebar header"
            "sidebar sub-menu"
            "sidebar load"
            "sidebar footer";
    }

    .top-designers{
        display: none;
    }

    footer .top{
        display: none;
    }

    #search-text-input{
        margin-bottom: 15px;
    }

    .button{
        display: none;
    }

    .filter{
        display: none;
    }

    .header{
        justify-content: center;
    }
    
    .profile a:last-of-type{
        width: 56px;
    }

    .sub-menu{
        justify-content: center;
    }

    .sub ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .load{
        margin-left: auto;
        margin-right: auto;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 420px) {
    .outline{
        width: 100%;
        height: 100vh;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "additional"
            "header"
            "sub-menu"
            "load"
            "footer";
    }

    #search-text-input{
        display: none;
    }

    .sidebar{
        display: none;
    }

    .additional{
        grid-area: additional;
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: #222222;
    }
}