*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

ul{
    list-style: none;
}

.outline{
    max-width: 1920px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar sub-menu"
        "sidebar load"
        "sidebar top-designers"
        "sidebar footer";
}

header{
    grid-area: header; 
    max-width: 1600px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 40px;
}

#search-text-input{
    border: none;
    border-radius: 12px;
    height: 56px;
    width: 446px;
    background-color: #F8F8F8;
    background-image: url(images/svg/Component\ 9\ –\ 2.svg);
    background-position-x: 400px;
    background-position-y: 15px;
    background-repeat: no-repeat;
    padding: 15px;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.profile img{
    margin-right: 35px;
}

.profile p{
    color: #FF2288;
    margin-right: 35px;
}

.button{
    border: none;
    border-radius: 12px;
    background-color: #FF2288;
    width: 129px;
    height: 56px;
    color: #FFFFFF;
}

.sidebar{
    grid-area: sidebar;
    padding: 30px 30px 0px 30px;
    background-color: #222222;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 30px;
    z-index: 100;
}

.navigation{
    position: sticky;
    top: 62px;
    z-index: 100;
}

.navigation ul{
    padding-top: 50px;
}

.navigation li{
    display: flex;
    align-items: center;
    padding-bottom: 19px;
}

.navigation img{
    width: 24px;
}

.navigation a{
    padding-left: 15px;
}

.navigation li:hover{
    width: auto;
    height: auto;
    background-color: #FF2288;
    border-radius: 12px;
}

.following{
    position: sticky;
    top: 382px;
    z-index: 100;
}

.following h3{
    margin-top: 50px;
    padding-bottom: 20px;
    color: #FFFFFF;
}

.following p{
    padding-top: 19px;
}

.following p>a{
    padding-left: 0px;
}

.following li{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.following img{
    width: 44px;
}

.following a{
    padding-left: 20px;
}



footer{
    grid-area: footer;
    max-width: 1231px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.top{
    display: flex;
    justify-content: space-between;
}

.top h4{
    margin-bottom: 36px;
}

.top li{
    
    padding-bottom: 20px;
}

.top a{
    color: #222222;
}

.social img{
    padding-right: 20px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 153px;
    margin-bottom: 40px;
}